<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/chat_styles.css" />
  <!--使うwebフォント-->
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  <script type="text/javascript" src="/js/chat.js"></script>
  <title>チャット</title>
</head>

<body>
<header class="head">
<h1 class="headline">ぼっちのちゃっと</h1>
<a href="/end" class="button">おわる</a>
</header>

<div class="comment-view">
  <!--最新のメッセージ表示-->
<div id="comments">
  <% @comments.each do |comment| %>
    <p><%= escape_html "#{comment.body}" %></p>
    <p><%= escape_html @reply.call() %></p>
  <% end %>
</div>

<div id="send-comment">
  <input type="text" id="comment-body"></textarea>
  <input type="button" id="submit-comment" value="submit">
</div>
</body>
</html>