<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css" />
  <script type="text/javascript" src="/js/chat.js"></script>
  <title>ChatRoom(仮)</title>
</head>

<body>
<header class="head">
<h1 class="headline">bocchat</h1>
<a href="/end" class="button">おわる</a>
</header>

<div id="comment-view">
  <!--最新のメッセージ表示-->
<div id="comments">
  <% @comments.each do |comment| %>
    <p class="comment"><%= escape_html "#{comment.body}" %></p>
    <p class="comment pair"><%= @pair%></p>
    <!--<p class="comment pair"><%= escape_html "#{comment.pair}"%>-->
  <% end %>
</div>
<div id="send-comment">
  <input type="text" id="comment-body">
  <input type="button" id="submit-comment" value="submit">
</div>
</body>
</html>

<!--
<script type="text/javascript">
function escaoeHTML(s) {
    return $('<div>').text(s).html();
}
$(function () {
    $("#submit-comment").click(function () {
        var comment = $("#comment-body").val();
        var pair = <%= @pair%>
        var request = $.ajax({
            type: "POST",
            url: "/chat/comment",
            data: {
                body: comment,
                pair: pair
            }
        });
        request.done(function (msg) {
            $.ajax({
                    type: "GET",
                    url: "/chat/comments/last",
                    dataType: "json"
                })
                .done(function (res) {
                    $("#comments").prepend('<p>' + escapeHTML(res.body) + '</p>');
                    $("#comments").prepend('<p>' + escaoeHTML(res.pair) + '</p>');
                });
        });
    });
});
</script>
-->