<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <script type="text/javascript" src="chat.js"></script>
  <title>ChatRoom(仮)</title>
</head>
<body>
<h1>チャットできる場所になる予定</h1>
<div id=main>
</div>
<div id=buttom>
  <a href="/">最初に戻る</a>
  <a href="/end">おわる</a>
</div>
</body>
</html>