<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/css/other_styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <title>good bye!</title>
</head>
<body>
<div id="main">
  <h1 class="headline">good bye!</h1>
<div>
<div id="menu">
  <a href="chat" class="button">チャットルームに戻る</a>
  <a href="/" class="button">最初に戻る</a>
</div>
</body>
</html>