<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/css/other_styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <title>index</title>
</head>
<body>
<div id="main">
  <h1 class="headline">bocchi</h1>
  <div id="menu">
    <a href="chat" class="button">チャットルームに飛ぶ</a>
  </div>
</div>
</body>
</html>