html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #A2A9AF;
    font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/*ヘッダー*/

#head {
    margin: 0%;
    padding: 0%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: linear-gradient(100deg, #9068BE, #BB68BE);
    width: 100%;
    height: 55px;
}

/*ヘッダーの見出し*/

#headline {
    margin-right: auto;
    margin-left: 10px;
    color: #E6E6E6;
    font-family: 'Quicksand', sans-serif;
}

#comment-body {
    width: 90%;
    height: 40px;
    background-color: #eee;
    border: 1px solid #bebebe;
    font-size: 1em;
    text-indent: 0.7em;
    margin-top: 10px;
    margin-left: 20px;
}

/*一番下の入力してsubmitするところ*/

#input-form {
    height: 60px;
    width: 100%;
    bottom: 0%;
    position: fixed;
    background-color: #E6E6E6;
}

/*おわるボタン*/

.button {
    margin-right: 10px;
    margin-left: auto;
    position: relative;
    text-decoration: none;
    color: #E6E6E6;
    display: inline-block;
    transition: .3s;
}

.button::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #E6E6E6;
    transition: .3s;
    transform: translateX(-50%);
}

.button:hover::after {
    width: 100%;
}

/*送信するボタン*/

#submit-comment {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #9068BE;
    color: #E6E6E6;
    transition: all 300ms 0s ease;
}

#submit-comment:hover {
    background-color: #E6E6E6;
    color: #9068BE;
}

/* 吹き出しが大量に表示されてる部分 */

#comment-view {
    /*スクロールの設定*/
    overflow: scroll;
}

#comments {
    display: block;
    padding-bottom: 65px;
}

.comment {
    padding: 15px 20px;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 10px;
    background-color: #9068BE;
    position: relative;
    border-radius: 5px;
    width: 300px;
}

.comment::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-left-color: #9068be;
    border-right-width: 0;
}

.comment p {
    margin: 0;
    padding: 0;
}

/*コメント吹き出しをひとつずらす*/

.comment:first-child {
    margin-top: 64px;
}

.reply {
    padding: 15px 20px;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #EBEDEC;
    position: relative;
    border-radius: 5px;
    width: 300px;
}

.reply::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-right-color: #EBEDEC;
    border-left-width: 0;
}

.reply p {
    margin: 0;
    padding: 0;
}