html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #E6E6E6;
}

.head {
    margin: 0%;
    padding: 0%;
    background-color: #9068BE;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.headline {
    margin-right: auto;
    margin-left: 10px;
    color: #E6E6E6;
}

.button {
    margin-right: 10px;
    margin-left: auto;
    position: relative;
    text-decoration: none;
    color: #E6E6E6;
    display: inline-block;
    transition: .3s;
}

.button::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #E6E6E6;
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.button:hover::after {
    width: 100%;
}

/* .submit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: #9068BE;
    color: #E6E6E6;
    transition: all 300ms 0s ease;
} */

/* .submit-button:hover {
    background-color: #E6E6E6;
    color: #9068BE;
} */